.mail-details {
    width: 633px;
    margin-left: 4rem;
    position: relative;
}

.mail-details .mail-btn {
    position: absolute;
    right: 0rem;
    top: 11rem;
    font-size: 1rem;
    cursor: pointer;
    color: #202e39;
}


.mail-details .mail-btn>* {
    margin-left: 0.5rem;
}

.mail-details .mail-content {
    position: absolute;
    left: 19rem;
    top: 15rem;
}

.mail-details .mail-content span {
    font-size: 11px;
    color: rgb(130, 129, 129);
}

.mail-details .mail-content h4 {
    margin-top: 1rem;
    font-size: 13px;

}

.mail-details .mail-content p {
    font-size: 13px;

}