.mail-list {
    width: 50rem;

    height: 100%;

    margin: auto;
}

.mail-list.blur {
    background-color: gainsboro;
    filter: blur(10px);
    width: 100%;

}


@media screen and (max-width:1182px) {
    .mail-list {
        width: 40rem;
        margin-left: 260px;

    }

}

@media screen and (max-width:960px) {
    .mail-list {
        margin-left: 166px;

    }

}

@media screen and (max-width:608px) {
    .mail-list {
        width: 24rem;
        margin-left: 199px;

    }

}

@media screen and (max-width:500px) {
    .mail-list {
        margin-left: 46px;
    }

}