.mail-folder-list {
    position: absolute;
    top: 183px;
    left: 60px;
    gap: 30px;
}

.btn-toggle-menu {
    display: none;
}

@media screen and (max-width:608px) {
    .mail-folder-list {
        left: 6px;

    }
}

@media screen and (max-width:500px) {
    .btn-toggle-menu {
        display: unset;
        position: absolute;
        left: 6px;
        top: 102px;
        width: 45px;
        background-color: #f1f3f4;
        border: none;
        height: 1.8rem;
        cursor: pointer;
    }

    .mail-folder-list {
        position: absolute;
        bottom: 10px;
        transform: translateY(-19%);
        width: 101%;
        left: 1px;
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        justify-content: flex-end;
        transition: max-height .6s;
        background-color: #f1f3f4;
        z-index: 20;
    }

    .mail-folder-list.menu-open {
        max-height: 39vh;
        z-index: 20;
        background-color: #f1f3f4;
    }
}

.mail-folder-list .add-mail button {
    border-radius: 10px;
    border: solid lightgray 1.3px;
    background-color: #fff;
    cursor: pointer;
    font-weight: 600;
    color: rgb(57, 56, 56);

}

.mail-folder-list img {
    height: 100%;
    width: 37%;
    object-fit: cover;
}


.mail-folder-list .add-mail {
    height: 55px;
    width: 115px;

}


.mail-folders {
    gap: 15px;
    color: rgb(57, 56, 56);
    cursor: pointer;
}

.mail-folders span {
    font-size: .75rem;
    margin-left: 1rem;
    font-weight: 700;
}