.mail-preview {
    position: relative;
    width: 100%;
    height: 1.7rem;
    border-bottom: solid lightgrey 1px;
    font-size: 1.2rem;
    cursor: pointer;
    color: #202e39;
}

.mail-preview .trash {
    opacity: 0;
}

.mail-preview:hover {
    box-shadow: 2px 2px 20px lightgrey;

}

.mail-preview:hover>* {
    /* box-shadow: 2px 2px 20px lightgrey; */
    opacity: 1;
    color: #202e39;
    background-color: transparent;
}

.mail-preview .trash:hover {
    opacity: 1;
    /* color: #202e39; */
}

.mail-preview.read {
    background-color: #f5f7f7;
    color: rgb(162, 167, 170);

}


.mail-preview .from-name {
    position: absolute;
    left: 4rem;
    top: 0.55rem;
}

.mail-preview .subject {
    position: absolute;
    right: 21.7rem;
    top: 0.55rem;
}

.mail-preview .subject-body {
    position: absolute;
    left: 14.5rem;
    top: 0.55rem;
    padding-right: 240px;
}

@media screen and (max-width:1090px) {

    .mail-preview .subject-body {
        padding-right: 50px;
    }


}

@media screen and (max-width:828px) {

    .mail-preview {
        width: 68vw;
        height: 5.7rem;
        position: relative;
    }

    .mail-preview .subject-body {
        position: absolute;
        left: 13rem;
        top: 0.55rem;
    }

    .mail-preview .subject-body span {
        position: absolute;
        top: 30px;
        left: 0px;
    }



}

@media screen and (max-width:608px) {
    .mail-preview {
        width: 68vw;
    }

    .mail-preview .subject-body {
        position: absolute;
        left: 4.5rem;
        top: 2.2rem;
        font-size: 16px;
    }

    .mail-preview .subject-body span {
        top: 16px;
    }

    .mail-preview .sent-at {
        right: 0.3rem;
        font-size: 18px;
    }

    .mail-preview .from-name {
        font-size: 18px;
    }

    .mail-preview i {
        font-size: 14px;
        margin-top: 11px;
    }

    .mail-preview .star.gold {
        top: 2px;
    }
}

@media screen and (max-width:500px) {

    .mail-preview {
        width: 97vw;
    }
}




.mail-preview .subject-body span {
    color: rgb(162, 167, 170);
    font-weight: 500;
}


.mail-preview .sent-at {
    position: absolute;
    right: 1rem;
    top: 0.55rem;
}

.mail-preview .star {
    position: absolute;
    left: 25px;
    size: 10px;

}

.mail-preview .star.gold {
    color: gold;

}

.mail-preview .star.black {
    color: #202e39;

}

.mail-preview i {
    font-size: 16px;
}