.mail-preview {
    position: relative;
    width: 100%;
    height: 1.7rem;
    border-bottom: solid lightgrey 1px;
    font-size: 1.2rem;
    cursor: pointer;
}

.mail-preview.read {
    background-color: #f5f7f7;
    color: rgb(162, 167, 170);
}

.mail-preview .from-name {
    position: absolute;
    left: 5rem;
    top: 0.55rem;
}

.mail-preview .subject {
    position: absolute;
    right: 21.7rem;
    top: 0.55rem;
}

.mail-preview .subject-body {
    position: absolute;
    left: 21.5rem;
    top: 0.55rem;
}

.mail-preview .subject-body span {
    color: rgb(162, 167, 170);
}


.mail-preview .sent-at {
    position: absolute;
    right: 1rem;
    top: 0.55rem;
}