.note-filter-container {
    display: flex;
    justify-content: center;
}

.note-filter {
    all: unset;
    /* box-shadow: 3px 3px 5px 6px #ccc; */
    width: 68%;
    border-radius: 6px;
    font-size: 1.2rem;
    margin-left: 20px;
}

.filter-form {
    border: 10px solid rgb(232, 222, 222);
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 65px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.filter-icon-container {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}

.filter-icon-container>* {
    cursor: pointer;
    opacity: 0.4;
}

.filter-icon-container>*:hover {
    opacity: 1;
}

.active-type {
    opacity: 1;
}

@media screen and (min-width: 540px) {
    .filter-form {
        width: 67%;
    }
}

@media screen and (min-width: 820px) {
    .filter-form {
        width: 50%;
    }
}