.note-preview {
    width: 200px;
    height: 250px;
    /* border: 1px solid transparent; */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.note-preview:hover {
    box-shadow: 3px 3px 5px 6px #ccc;
}

.todo-img-title {
    position: relative;
    top: 5%;
}

.note-text {
    position: relative;
    top: 20%;
}

.preview-utils-container {
    align-self: flex-end;
    width: 100%;
}