.note-list {
    /* TODO: implement masonry grid */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}