.text-note-content {
    inline-size: 85%;
    overflow-wrap: break-word;
    font-size: 14px;
}

@media screen and (min-width: 470px) {
    .text-note-content {
        font-size: 18px;
        /* font-size: 1.125rem; */
        text-align: left;
    }
}