.todo-done {
    text-decoration: line-through;
}

.todo-title {
    font-size: 18px;
}

.todo-item {
    cursor: pointer;
    margin-bottom: 5px;
}

.todo-item>*:not(:last-child) {
    margin-right: 10px;
}

.todo-list {
    text-align: left
}

.new-todo-item-btn {
    cursor: pointer;
}

.todo-delete-btn {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}

.todo-list>*:hover>*:last-child {
    opacity: 1;
}

.todo-item-content {
    display: inline-block;
    min-width: 76px;
    font-size: 13px;
}

@media screen and (min-width: 470px) {
    .todo-item-content {
        cursor: text;
        min-width: 88px;
        font-size: 15px;
    }
    .todo-delete-btn {
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
    }
}