.user-msg {

    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
    letter-spacing: .2px;
    position: fixed;
    bottom: 15px;
    left: 40px;
    padding: 20px;
    border: none;
    height: 14px;
    border-radius: 7px;
}

.user-msg.shown {
    display: block;
}

.user-msg.success {
    background-color: #202124;
    color: #fff;
    font-size: .875rem;
}

.user-msg.danger {
    background: rgb(242, 121, 121);
}

.user-msg button {
    margin-left: 20px;
    border: none;
    background-color: #202124;
    color: gray;
    cursor: pointer;
}